<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  	<meta name="wiewport" content="width=device=width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  	<link rel="stylesheet" type="text/css" href="css/cabeza.css">
  	<link rel="stylesheet" href="css/animate.css">
  	<link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet" />
	<title>Sistema de Clinicas Dentales</title>
  	<script type="text/javascript">
  $(function(){
     $('a[href*=#]').click(function() {
     if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
         && location.hostname == this.hostname) {
             var $target = $(this.hash);
             $target = $target.length && $target || $('[name=' + this.hash.slice(1) +']');
             if ($target.length) {
                 var targetOffset = $target.offset().top;
                 $('html,body').animate({scrollTop: targetOffset}, 1000);
                 return false;
            }
       }
   });
  });
  </script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

    <a class="navbar-brand" th:href="@{/}">Inicio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item" th:class="${#httpServletRequest.requestURI.contains('home')} ? 'nav-link active' : 'nav-link'">-->
            <li class="nav-item" th:class="${activePage == 'info'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/listBills}">CRUD Recibos</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/listClients}">CRUD Clientes</a>
            </li>
             <li class="nav-item" th:class="${activePage == 'info'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/listUsers}">CRUD Usuarios</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/listTreatments}">CRUD Tratamientos</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/listClinics}">CRUD Clinicas</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/listProducts}">CRUD Productos</a>
            </li>
        </ul>
    </div>
</nav>





<!--
  	<header>
	    <section class="navegacion">
		    <nav>
		      <ul>
		        <li><a href="/listBills">CRUD Recibos</a></li>
		        <li><a href="/listClients">CRUD Clientes</a></li>
		        <li><a href="/listUsers">CRUD Usuarios</a></li>
		        <li><a href="/listTreatments">CRUD Tratamientos</a></li>
		         <li><a href="/listClinics">CRUD Clinicas</a></li>
		          <li><a href="/listProducts">CRUD Productos</a></li>
		      </ul>
		    </nav>
	    </section>
  	</header>	
  -->
  	
  	<section class="mensajeBienvenida">
  	 <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido al Sistema Gestor de Clinicas Dentales</h1>
            <p>La hora de ejecucion del programa es <span th:text="${timestamp}"></span></p>
        </div>
  	</section>
</body>
</html>